# Imports

In [ ]:
import numpy as np
import pandas as pd

# Step 0

Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```
"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

In [ ]:
energy = pd.read_excel("Energy Indicators.xls", skiprows = 17, skipfooter = 38)

In [ ]:
energy.head()
#energy.tail()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Petajoules,Gigajoules,%
0,NaN,Afghanistan,Afghanistan,321,10,78.669280
1,NaN,Albania,Albania,102,35,100.000000
2,NaN,Algeria,Algeria,1959,51,0.551010
3,NaN,American Samoa,American Samoa,...,...,0.641026
4,NaN,Andorra,Andorra,9,121,88.695650

In [ ]:
energy.drop(energy.iloc[:,:2], axis = 1, inplace = True)
energy.head()

       Unnamed: 2 Petajoules Gigajoules           %
0     Afghanistan        321         10   78.669280
1         Albania        102         35  100.000000
2         Algeria       1959         51    0.551010
3  American Samoa        ...        ...    0.641026
4         Andorra          9        121   88.695650

In [ ]:
energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

In [ ]:
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   227 non-null    object
 1   Energy Supply             227 non-null    object
 2   Energy Supply per Capita  227 non-null    object
 3   % Renewable               227 non-null    float64
dtypes: float64(1), object(3)
memory usage: 7.2+ KB

In [ ]:
energy.replace('...', np.NaN, inplace=True)

In [ ]:
pd.to_numeric(energy['Energy Supply'])
energy['Energy Supply'] = energy['Energy Supply'] * 1000000

In [ ]:
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   227 non-null    object
 1   Energy Supply             222 non-null    float64
 2   Energy Supply per Capita  222 non-null    float64
 3   % Renewable               227 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.2+ KB

In [ ]:
energy["Country"] = energy["Country"].str.replace("\d+", "",regex = True)
energy["Country"] = energy["Country"].str.replace("\(.*\)", "",regex = True)

In [ ]:
energy['Country'] = energy['Country'].str.strip()

In [ ]:
energy.replace({"Country": { "Republic of Korea": "South Korea", "United States of America": "United States", "United Kingdom of Great Britain and Northern Ireland": "United Kingdom", "China, Hong Kong Special Administrative Region": "Hong Kong"}}, inplace = True)

# Step 1

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```
"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

In [ ]:
GDP = pd.read_csv("world_bank.csv", skiprows=4)

In [ ]:
GDP.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

In [ ]:
GDP.replace({"Country Name": {"Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran", "Hong Kong SAR, China": "Hong Kong"}}, inplace = True)

# Step 2

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

In [ ]:
ScimEn = pd.read_excel("scimagojr-3.xlsx")

In [ ]:
ScimEn.head()

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57

# Step 3

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This step should yeild a DataFrame with 20 columns and 15 entries.*

In [ ]:
GDP.rename(columns={'Country Name' : 'Country'}, inplace = True)

In [ ]:
merge_df = pd.merge(pd.merge(energy,GDP, how = 'inner', on = 'Country'), ScimEn, how = 'inner', on = 'Country')

In [ ]:
merge_df.head()

,Country,Energy Supply,Energy Supply per Capita,% Renewable,Country Code,Indicator Name,Indicator Code,1960,1961,1962,...,2013,2014,2015,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,Afghanistan,3.210000e+08,10.0,78.669280,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,...,1.973134e+10,1.999032e+10,2.029415e+10,163,3,3,0,0,0.00,0
1,Albania,1.020000e+08,35.0,100.000000,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,...,1.254247e+10,1.279331e+10,1.312082e+10,118,23,23,168,14,7.30,6
2,Algeria,1.959000e+09,51.0,0.551010,DZA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.744286e+10,2.370914e+10,1.904199e+10,...,1.763249e+11,1.830252e+11,1.901632e+11,42,1215,1197,7393,1413,6.08,40
3,American Samoa,NaN,NaN,0.641026,ASM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,...,NaN,NaN,NaN,180,1,1,0,0,0.00,0
4,Andorra,9.000000e+06,121.0,88.695650,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,...,3.127550e+09,NaN,NaN,168,2,2,13,0,6.50,1

In [ ]:
merge_df.set_index('Country', inplace = True)

In [ ]:
merge_df = merge_df[['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015']]

In [ ]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 161 entries, Afghanistan to Zimbabwe
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Rank                      161 non-null    int64
 1   Documents                 161 non-null    int64
 2   Citable documents         161 non-null    int64
 3   Citations                 161 non-null    int64
 4   Self-citations            161 non-null    int64
 5   Citations per document    161 non-null    float64
 6   H index                   161 non-null    int64
 7   Energy Supply             160 non-null    float64
 8   Energy Supply per Capita  160 non-null    float64
 9   % Renewable               161 non-null    float64
 10  2006                      152 non-null    float64
 11  2007                      152 non-null    float64
 12  2008                      152 non-null    float64
 13  2009                      152 non-null    float64
 14  2010                      154 non-null    float64
 15  2011                      152 non-null    float64
 16  2012                      151 non-null    float64
 17  2013                      151 non-null    float64
 18  2014                      146 non-null    float64
 19  2015                      140 non-null    float64
dtypes: float64(14), int64(6)
memory usage: 26.4+ KB

In [ ]:
top15_df = merge_df[(merge_df['Rank'] >= 1) & (merge_df['Rank'] <= 15)]

In [ ]:
top15_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, Australia to United States
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Rank                      15 non-null     int64
 1   Documents                 15 non-null     int64
 2   Citable documents         15 non-null     int64
 3   Citations                 15 non-null     int64
 4   Self-citations            15 non-null     int64
 5   Citations per document    15 non-null     float64
 6   H index                   15 non-null     int64
 7   Energy Supply             15 non-null     float64
 8   Energy Supply per Capita  15 non-null     float64
 9   % Renewable               15 non-null     float64
 10  2006                      15 non-null     float64
 11  2007                      15 non-null     float64
 12  2008                      15 non-null     float64
 13  2009                      15 non-null     float64
 14  2010                      15 non-null     float64
 15  2011                      15 non-null     float64
 16  2012                      15 non-null     float64
 17  2013                      15 non-null     float64
 18  2014                      15 non-null     float64
 19  2015                      14 non-null     float64
dtypes: float64(14), int64(6)
memory usage: 2.5+ KB

# Step 4

The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This step should yield a single number.*

In [ ]:
outer_merge_df = pd.merge(pd.merge(energy,GDP, how = 'outer', on = 'Country'), ScimEn, how = 'outer', on = 'Country')

In [ ]:
entries_lost = outer_merge_df.shape[0] - merge_df.shape[0]
entries_lost

158

> I lost 158 entries.

# Step 5

## Answer the following questions in the context of only the top 15 countries by Scimagojr Rank 


What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This step should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [ ]:
avgGDP = top15_df[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']].mean(axis=1).sort_values(ascending=False)

In [ ]:
avgGDP.head()

Country
United States    1.536434e+13
China            6.348609e+12
Japan            5.542208e+12
Germany          3.493025e+12
France           2.681725e+12
dtype: float64

# Step 6

What is the mean `Energy Supply per Capita`?

*This step should return a single number.*

In [ ]:
top15_df['Energy Supply per Capita'].mean()

157.6

> Mean `Energy Supply per Capita` = 157.6

# Step 7

What country has the maximum % Renewable and what is the percentage?

*This step should return a tuple with the name of the country and the percentage.*

In [ ]:
(top15_df[top15_df['% Renewable'] == top15_df['% Renewable'].max()].index[0], top15_df[top15_df['% Renewable'] == top15_df['% Renewable'].max()]['% Renewable'][0])

('Brazil', 69.64803)

# Step 8

Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This step should return a tuple with the name of the country and the ratio.*

In [ ]:
top15_df['Citation ratio'] = top15_df['Self-citations'] / top15_df['Citations']

C:\Users\gunne\AppData\Local\Temp/ipykernel_8796/3521185286.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top15_df['Citation ratio'] = top15_df['Self-citations'] / top15_df['Citations']

In [ ]:
(top15_df[top15_df['Citation ratio'] == top15_df['Citation ratio'].max()].index[0], top15_df[top15_df['Citation ratio'] == top15_df['Citation ratio'].max()]['Citation ratio'][0])

('China', 0.6893126179389422)

# Step 9

Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This step should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [ ]:
top15_df['renewable_median'] = top15_df['% Renewable'].apply(lambda x : 0 if x < top15_df['% Renewable'].median() else 1)

C:\Users\gunne\AppData\Local\Temp/ipykernel_8796/4067314976.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top15_df['renewable_median'] = top15_df['% Renewable'].apply(lambda x : 0 if x < top15_df['% Renewable'].median() else 1)

In [ ]:
HighRenew = top15_df.sort_values('Rank')['renewable_median']
HighRenew

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                1
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: renewable_median, dtype: int64

# Step 10

Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [ ]:
top15_df.index

Index(['Australia', 'Brazil', 'Canada', 'China', 'France', 'Germany', 'India',
       'Iran', 'Italy', 'Japan', 'South Korea', 'Russian Federation', 'Spain',
       'United Kingdom', 'United States'],
      dtype='object', name='Country')

In [ ]:
top15_df['Continent'] = top15_df.index.map({'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'})

C:\Users\gunne\AppData\Local\Temp/ipykernel_8796/2491325902.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top15_df['Continent'] = top15_df.index.map({'China':'Asia',

In [ ]:
top15_df['Continent']

Country
Australia                 Australia
Brazil                South America
Canada                North America
China                          Asia
France                       Europe
Germany                      Europe
India                          Asia
Iran                           Asia
Italy                        Europe
Japan                          Asia
South Korea                    Asia
Russian Federation           Europe
Spain                        Europe
United Kingdom               Europe
United States         North America
Name: Continent, dtype: object

In [ ]:
top15_df['Population'] = top15_df['Energy Supply'] / top15_df['Energy Supply per Capita']

C:\Users\gunne\AppData\Local\Temp/ipykernel_8796/1358774541.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top15_df['Population'] = top15_df['Energy Supply'] / top15_df['Energy Supply per Capita']

In [ ]:
top15_df.head()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,...,2010,2011,2012,2013,2014,2015,Citation ratio,renewable_median,Continent,Population
Country,,,,,,,,,,,,,,,,,,,,,
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.81081,...,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,0.171939,0,Australia,2.331602e+07
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.64803,...,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12,0.237159,1,South America,2.059153e+08
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.94543,...,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12,0.190369,1,North America,3.523986e+07
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.75491,...,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,0.689313,1,Asia,1.367645e+09
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.02028,...,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12,0.218943,1,Europe,6.383735e+07

In [ ]:
continent_dataset = top15_df.groupby('Continent').agg({'Population' : ['sum', 'mean', 'std']}).droplevel(0, axis=1)
continent_dataset

                        sum          mean           std
Continent
Asia           2.898666e+09  5.797333e+08  6.790979e+08
Australia      2.331602e+07  2.331602e+07           NaN
Europe         4.579297e+08  7.632161e+07  3.464767e+07
North America  3.528552e+08  1.764276e+08  1.996696e+08
South America  2.059153e+08  2.059153e+08           NaN

In [ ]:
size_series = top15_df['Continent'].value_counts().sort_index()
size_series

Asia             5
Australia        1
Europe           6
North America    2
South America    1
Name: Continent, dtype: int64

In [ ]:
continent_dataset.insert(0, 'size', size_series)

In [ ]:
continent_dataset

               size           sum          mean           std
Continent
Asia              5  2.898666e+09  5.797333e+08  6.790979e+08
Australia         1  2.331602e+07  2.331602e+07           NaN
Europe            6  4.579297e+08  7.632161e+07  3.464767e+07
North America     2  3.528552e+08  1.764276e+08  1.996696e+08
South America     1  2.059153e+08  2.059153e+08           NaN